# Part D - Obesity challenge

In [1]:
# First off - load all the silly python libraries we are going to need
import pandas as pd
import numpy as np

## Accessing notes data

The SQL query for this exercise is fairly long so it is saved in a separate text file: **part_d_query.txt**

#### Copy the SQL command from the text file, then paste and run the command in Query Builder. Rename the downloaded file as "obese-gold.csv". Make sure the file is saved in the same directory as this notebook.

## Start NLP Exercises

In [2]:
# Now load the data.
notes_filename = 'obese-gold.csv'
obesity_challenge = pd.read_csv(notes_filename)

In [3]:
print(obesity_challenge.shape)
obesity_challenge.head()

(120, 11)

,subject_id,hadm_id,icustay_id,weight_first,height_first,bmi,obese,chartdate,category,description,text
0,41,101757,261027,75.0,187.96,21.229042,0,2133-01-27,Discharge summary,Report,Admission Date: [**2132-12-31**] ...
1,109,102024,232807,45.0,152.40,19.375039,0,2142-06-05,Discharge summary,Report,Admission Date: [**2142-5-20**] ...
2,181,102631,246694,81.8,193.04,21.951221,0,2153-10-12,Discharge summary,Report,Admission Date: [**2153-10-14**] Discharg...
3,30,104557,225176,65.7,165.10,24.103007,0,2172-10-19,Discharge summary,Report,Admission Date: [**2172-10-14**] Discha...
4,223,105694,231395,69.3,175.26,22.561482,0,2157-07-01,Discharge summary,Report,Admission Date: [**2157-5-1**] D...

In this dataframe, one column, "obese", defines patients who are obese (1) or normal (0).  The definition of obese is BMI ≥ 30, overweight is BMI ≥ 25 and < 30, normal is BMI ≥ 18.5 and < 25).

In [4]:
# Subset out the notes
notes = obesity_challenge[['subject_id', 'text']]

# Subset out the "right answers" here
gold = obesity_challenge[['subject_id', 'obese']]

# JOY - Please put your code here

In [5]:
# Here is the list of terms we are going to consider "good"
terms = ['obese']

In [6]:
# Now scan through all of the notes. Do any of the terms appear? If so stash the note 
# id for future use

matches = []

for index, row in notes.iterrows():
    if any(x in row['text'] for x in terms):
        matches.append(row['subject_id'])

print("Found " + str(len(matches)) + " matching notes.")

Found 21 matching notes.

In [7]:
# For the patients in those notes, set "obese" true (1) in a the results
myscores = gold.copy()
myscores['obese'] = 0 # This sets them all to unknown

for subject_id in matches:
    myscores.loc[myscores["subject_id"] == subject_id,'obese'] = 1

In [8]:
# Compute your score:

skipped = 0
truepositive = 0
falsepositive = 0
truenegative = 0
falsenegative = 0

for index, row in myscores.iterrows():
    if row['obese'] == 0:
        skipped = skipped + 1
    else:
        if row['obese'] == 1 and gold.loc[index]['obese'] == 1:
            truepositive = truepositive + 1
        elif row['obese'] == -1 and gold.loc[index]['obese'] == -1:
            truenegative = truenegative + 1
        elif row['obese'] == 1 and gold.loc[index]['obese'] == -1:
            falsepositive = falsepositive + 1
        elif row['obese'] == -1 and gold.loc[index]['obese'] == 1:
            falsenegative = falsenegative + 1

print ("Skipped:\t" + str(skipped))
print ("True Pos:\t" + str(truepositive))
print ("True Neg:\t" + str(truenegative))
print ("False Pos:\t" + str(falsepositive))
print ("False Neg:\t" + str(falsenegative))     
print ("SCORE:\t\t" + str(truepositive + truenegative - falsepositive - falsenegative))

Skipped:	91
True Pos:	19
True Neg:	0
False Pos:	0
False Neg:	0
SCORE:		19

## NLP Exercise: can you do better?

We got a score of 19 (out of a possible 100). Can you do better?