# Exercise 1: Data at a glance 

As explained in Introduction, we will be using first laboratary measurements of patients in MIMIC III database to predict ICU mortality. Generally, the largest amount of time in data analysis project will be spent on data extraction and cleaning, especially for clinical data. In clinical data, the values can be noisy, irregularly sampled, incorrect or even missing. Also due to the complex structure of most clinical database, the data are difficult to extract with specified inclusion/exclusion criterion. In MIMIC III, database structure has been optimized for users for data extraction and we used Python and [Postgresql](https://www.postgresql.org/) to retrieve the data. The details of data extraction can be found at [MIMIC Github](https://github.com/MIT-LCP/mimic-code/blob/master/notebooks/first_labs.ipynb). The data table was serialized to "exercise_data.csv" file.

In this exercise, we will use Python data analysis library [Pandas](https://pandas.pydata.org/) to work on the data. For Python library installation within jupyter notebook, please use the codes in the following cell and replace "pandas" to the library you want to install, for example "numpy".

In [249]:
import sys
!{sys.executable} -m pip install pandas

First, import library to use in the analysis

In [241]:
# We import pandas library here, refered as pd. The functions in pandas can be used by pd.(function name)
import pandas as pd

Then, we load the extracted data from csv file and display the structure of the data.

In [250]:
# Load data from csv file
data = pd.read_csv("./data.csv", index_col=0)

# Display the first 5 rows of data to show the table structure
data.head()

,subject_id,hadm_id,icustay_id,gender,age,first_careunit,aniongap_min,aniongap_max,albumin_min,albumin_max,...,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max,vent,mort_icu
0,3,145834,211552,M,76.5268,MICU,15.0,23.0,1.8,1.8,...,13.5,15.7,136.0,153.0,41.0,53.0,11.3,24.4,1,0
1,4,185777,294638,F,47.8450,MICU,15.0,15.0,2.8,2.8,...,12.8,12.8,141.0,141.0,10.0,10.0,9.7,9.7,0,0
2,6,107064,228232,F,65.9407,SICU,20.0,23.0,3.0,3.0,...,12.6,14.6,134.0,138.0,62.0,65.0,10.6,10.6,0,0
3,7,118037,236754,F,0.0017,NICU,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.8,22.8,0,0
4,8,159514,262299,M,0.0012,NICU,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.7,18.7,1,0

Data at a glance: after we load the data, we may ask the following questions: 

1. How many ICU stays (rows) in the data? How are they indexed? 
2. How many clinical features (columns) in the data? What are they? 
3. What are the charateristics of clinical variables in the data?

In [251]:
# Answer the first set of questions 

# find the dimension of data - (rows, columns)
(num_rows, num_columns) = data.shape

print("There are {:d} rows in the dataset. ".format(num_rows))

# identify the primary identifier of patients. From the data extraction we know that 
# the patients should be uniquely identified by icustay_id. We can check this by 
# check whether the number of unique icustay_id equals to number of rows in the following codes
if len(data['icustay_id'].unique())==num_rows:
    print("The unique identifier of this dataset is icustay_id. ")

There are 61532 rows in the dataset.
The unique identifier of this dataset is icustay_id.

In [252]:
# Answer the second set of questions 

# Display the number of columns we found in the cell above 
print("There are {:d} columns in the dataset. ".format(num_columns))

# Find and Display the column name (variable names) in the dataset 
print("The variables in datasets are: ")
for i in range(len(data.columns)-1)[::2]:
    print("\t"+data.columns[i]+"\t\t"+data.columns[i+1])

There are 44 columns in the dataset.
The variables in datasets are:
	subject_id		hadm_id
	icustay_id		gender
	age		first_careunit
	aniongap_min		aniongap_max
	albumin_min		albumin_max
	bicarbonate_min		bicarbonate_max
	bilirubin_min		bilirubin_max
	creatinine_min		creatinine_max
	chloride_min		chloride_max
	glucose_min		glucose_max
	hematocrit_min		hematocrit_max
	hemoglobin_min		hemoglobin_max
	lactate_min		lactate_max
	platelet_min		platelet_max
	potassium_min		potassium_max
	ptt_min		ptt_max
	inr_min		inr_max
	pt_min		pt_max
	sodium_min		sodium_max
	bun_min		bun_max
	wbc_min		wbc_max
	vent		mort_icu

Further explanation of the variables are as following:
+ subject_id: the id for each patient
+ hadm_id: the id for each hospital admission 
+ icustay_id: the id for each icu stay
+ gender: the gender of patient
+ age: the age of patient at the time of ICU admission 
+ first_careunit: the ICU type that the patient was admitted to 
+ aniongap_min/max: minimum/maximum value of first-day **ANION GAP** measurement. The value is NaN(Not a Number) if it does not exists. Similar for the lab tests below. 
+ albumin_min/max: **Albumin measurement**
+ bicarbonate_min/max: **Bicarbonate**
+ bilirubin_min/max: **Bilirubin**
+ creatinine_min/max: **Creatinine**
+ chloride_min/max: **Chloride**
+ glucose_min/max: **Glucose**
+ hematocrit_min/max: **Hematocrit**
+ hemoglobin_min/max: **Hemoglobin**
+ lactate_min/max: **Lactate**
+ platelet_min/max: **Platelet**
+ potassium_min/max: **Potassium**
+ ptt_min/max: **partial thromboplastin time (PTT)**
+ inr_min/max: **international normalized ratio (INR)**
+ pt_min/max: **prothrombin time (PT)**
+ sodium_min/max: **Sodium**
+ bun_min/max: **Blood Urea Nitrogen (BUN)**
+ wbc_min/max: **White Blood Cell (WBC)**
+ vent: Whether a patient is ventilated on the first day of their ICU stay. 1 indicates that there was ventilation on the first day while 0 indicates no ventilation. 
+ mort_icu: Whether a patient could not survive in ICU. 1 indicates that the patient was dead in the ICU stay while 0 indicates that the patient survived in ICU stay.

Next, in this step, we are going to show the baseline data characteristics of clinical variables. In this example, we are going to demonstrate two variables, **gender** (categorical) and **albumin_min** (continuous).

In [253]:
# First import matplotlib library for data visualization 
import matplotlib.pyplot as plt

In [254]:
# Calculate the proportion of male and female 

# Select Male/Female subgroups from data 
male_patients = data[data['gender']=='M']
female_patients = data[data['gender']=='F']

# Calculate the proportions and print out the results. 
percent_male = float(len(male_patients)) / len(data) * 100
percent_female = float(len(female_patients)) / len(data) * 100
print("The proportion of male patients in dataset is {:.2f}%. ".format(percent_male))
print("The proportion of female patients in dataset is {:.2f}%. ".format(percent_female))

The proportion of male patients in dataset is 56.02%.
The proportion of female patients in dataset is 43.98%.

In [255]:
# Calculate the mean and standard deviation of albumin_min

mean_albumin_min = data['albumin_min'].mean()
std_albumin_min = data['albumin_min'].std()
print("The mean of albumin minimum values is {:.2f} g/dL. ".format(mean_albumin_min))
print("The standard deviation of albumin minimum values is {:.2f}. ".format(std_albumin_min))

The mean of albumin minimum values is 3.12 g/dL.
The standard deviation of albumin minimum values is 0.72.

### Optional:
1. Calculate the male/female proportion according to mortality. 
2. Calculate the mean and standard deviation of other lab tests, according to mortality. 
3. Plot the calculated results.